
    *{
      margin: 0;
      padding: 200;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
    }

   body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: #384D5D;  /* fundo geral*/
    } 

     .main {
      display: flex;
      width: 900px;
      height: 600px;
      border-radius: 30px;
      overflow: hidden;
      background:none
    }

    .tela-esq {
      flex: 1;
      background: #142838;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 70px;
      font-weight: bold;
      border-radius: 60px;
      font-family: 'Rubik Puddles', cursive;
      min-width: 320px;    
      
    }

    .tela-esq h1{
      font-size: 70px;
      font-family: 'Philosopher', cursive;
      width:auto
    
    }

    /* Lado direito */
    .tela-dir {
      flex: 1.2;
      background: #D9D9D91A;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
      color: white;
      height: 500px;
      align-self: center;
      border-bottom-right-radius: 60px;
      border-top-right-radius: 60px;
      fill: rgba(217, 217, 217, 0.10);
      box-shadow: 59.1px -59.1px 59.1px 0 rgba(165, 165, 165, 0.10) inset, -59.1px 59.1px 59.1px 0 rgba(255, 255, 255, 0.10) inset;
      backdrop-filter: blur(59.099998474121094px);
      min-width: 320px;
     
      
    }

    .tela-dir h2 {
      margin-bottom: 40px;
      font-size: 45px;
      font-family: 'Tektur';
      font-weight: normal;
    }

    .input-group {/*caixa do input*/
      position: relative;
      width: 100%;
      margin-bottom: 15px;
      
    }
    .input-group i {/*icones*/
      position: absolute;
      left: 230px;
      top: 50%;
      transform: translateY(-50%);
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      
    }
      .input-group input {
      width: 100%;
      padding: 12px 40px 12px 12px; /* espaço extra à esquerda pro ícone */
      border: none;
      border-radius: 8px;
      outline: none;
      background: rgba(255,255,255,0.1);
      color: #FFFFFF;
      font-size: 14px;
      font-family: 'Tektur';
    }

    .input-group input::placeholder {
      color: rgba(236, 236, 236, 0.6);
    }

    button {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 20px;
      background: #D9D9D9;
      color: #29475E;
      font-size: 24px;
      font-family: 'Tektur';
      font-weight:500;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.3s;
    }

    button:hover {
      background: #ffffff;
    }

    .links {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
      font-size: 12px;
      padding-left: 50px;
      padding-right: 50px;
      font-size: 12px;
    }

    .links a {
      color: rgba(255,255,255,0.8);
      text-decoration: none;
      transition: 0.3s;
    }

    .links a:hover {
      color: white;
    }
    
    @media (max-width: 600px) {
    .main {
    flex-direction: column; /* muda de linha (lado a lado) para coluna */
    width: 100%;           /* deixa ocupar toda largura */
    height: auto;          /* altura se ajusta ao conteúdo */
    }

  .tela-esq{
    padding-left: 20px;
    flex: none;     /* remove o "flex:1" que divide em proporções */
    width: 80%;    /* cada uma ocupa toda a largura */
    height: auto;   /* altura automática */
    border-radius: 20px; /* remove cantos arredondados (opcional, pode manter se quiser) */
    align-self: center;
    margin-bottom: 20px;
    font-weight: 9px;
  
  }
  .tela-dir {
    
    flex: none;     /* remove o "flex:1" que divide em proporções */
    width: 80%;    /* cada uma ocupa toda a largura */
    height: auto;   /* altura automática */
    border-radius: 60px; /* remove cantos arredondados (opcional, pode manter se quiser) */
  }
}
      
